@model OrderMgmtRevision.Models.Product
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<div class="ms-5 me-5">
    <div class="d-flex justify-content-between mb-3">
        <h4>@Localizer["Create Product"]</h4>
        <button type="button" class="btn-close" onclick="closeCreateProduct()"></button>
    </div>

    <div class="d-flex mt-3">
        <form id="createProductForm" asp-action="CreateProductAsync" asp-controller="Products" method="post" novalidate="novalidate">
            <input type="hidden" asp-for="ProductID" />
            <div class="form-group">
                <label asp-for="ProductName">@Localizer["Product Name"]</label>
                <input asp-for="ProductName" class="form-control" required />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">@Localizer["Description"]</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU">@Localizer["SKU (Stock Keeping Unit)"]</label>
                <input asp-for="SKU" class="form-control" required />
                <span asp-validation-for="SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">@Localizer["Price"]</label>
                <input asp-for="Price" class="form-control" required />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost">@Localizer["Cost"]</label>
                <input asp-for="Cost" class="form-control" required />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock">@Localizer["Amount # in stock"]</label>
                <input asp-for="Stock" class="form-control" required />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-success">@Localizer["Create"]</button>
        </form>
    </div>
</div>
