@model OrderMgmtRevision.Models.Product
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.11/dist/jquery.validate.unobtrusive.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<div class="ms-5 me-5">
    <div class="d-flex justify-content-between mb-3">
        <h4>@Localizer["Edit Product"]</h4>
        <button type="button" class="btn-close" onclick="closeEditProduct()"></button>
    </div>

    <div class="d-flex mt-3">
        <form id="editProductForm" asp-action="EditProduct" asp-controller="Products" method="post" novalidate="novalidate">
            <input type="hidden" asp-for="ProductID"/>
            <div class="form-group">
                <label asp-for="ProductName">@Localizer["Product Name"]</label>
                <input asp-for="ProductName" class="form-control" required />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">@Localizer["Description"]</label>
                <input asp-for="Description" class="form-control" required />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SKU">@Localizer["SKU (Stock Keeping Unit)"]</label>
                <input asp-for="SKU" class="form-control" required />
                <span asp-validation-for="SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price">@Localizer["Price"]</label>
                <input asp-for="Price" class="form-control" required />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost">@Localizer["Cost"]</label>
                <input asp-for="Cost" class="form-control" required />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock">@Localizer["Amount # in stock"]</label>
                <input asp-for="Stock" class="form-control" required />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight">@Localizer["Weight(lbs) of product"]</label>
                <input asp-for="Weight" class="form-control" required />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width">@Localizer["Width (in)"]</label>
                <input asp-for="Width" class="form-control" required />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length">@Localizer["Length (in)"]</label>
                <input asp-for="Length" class="form-control" required />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height">@Localizer["Height (in)"]</label>
                <input asp-for="Height" class="form-control" required />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">@Localizer["Save Changes"]</button>
        </form>
    </div>
</div>