@model OrderMgmtRevision.Models.Product

<div class="ms-5 me-5">
    <div class="d-flex justify-content-between mb-3">
        <h4>Product Details for @Model.ProductName</h4>
        <button type="button" class="btn-close" onclick="closeProductDetailsTab()"></button>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p><strong>Product Name: </strong>@Model.ProductName</p>
            <p><strong>SKU: </strong>@Model.SKU</p>
            <p><strong>Description: </strong>@Model.Description</p>
            <p><strong>Price: </strong>@Model.Price</p>
            <p><strong>Cost: </strong>@Model.Cost</p>
            <p><strong>Stock: </strong>@Model.Stock</p>
            <p><strong>Created At:</strong>@(Model.CreatedAt.HasValue ? Model.CreatedAt.Value.ToString("yyyy-MM-dd HH:mm:ss") : "N/A")</p>
            <p><strong>Last Updated: </strong>@(Model.UpdatedAt.HasValue ? Model.UpdatedAt.Value.ToString("yyyy-MM-dd HH:mm:ss") : "N/A")</p>
            @if (User.IsInRole("Admin"))
            {
                <p><strong>Created By: </strong>@Model.CreatedBy</p>
            }
        </div>
    </div>
</div>