@model OrderMgmtRevision.Models.Shipment
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="ms-5 me-5">
    <div class="d-flex justify-content-between mb-3">
        <h4>@Localizer["Shipment Details for"] @Model.ShipmentName</h4>
        <button type="button" class="btn-close" onclick="closeShipmentDetailsTab()"></button>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p><strong>@Localizer["ShipmentID"]: </strong>@Model.ShipmentID</p>
            <p><strong>@Localizer["Shipping Provider"]: </strong>@Model.Rate.Provider</p>
            <p><strong>@Localizer["Shipping Service"]: </strong>@Model.Rate.Service</p>
            <p><strong>@Localizer["Estimated Days To Destination"]: </strong>@Model.Rate.EstimatedDays</p>
            <p><strong>@Localizer["Tracking Number"]: </strong>@Model.TrackingNumber</p>
            <p><strong>@Localizer["Shipment Cost"]: </strong>$@Model.Cost</p>
            <p><strong>@Localizer["Warehouse Source Name"]: </strong>@Model.SourceWarehouse.WarehouseName</p>
            <p><strong>@Localizer["Warehouse Source Address"]: </strong>@Model.SourceWarehouse.Address</p>
            <p><strong>@Localizer["Product Shipped"]: </strong>@Model.Product.ProductName | SKU: @Model.Product.SKU</p>
            <p><strong>@Localizer["Recipient Name"]: </strong>@Model.ShippingRequest.ToName</p>
            <p><strong>@Localizer["Destination Address"]: </strong>@Model.ShippingRequest.ToStreet</p>
            <p><strong>@Localizer["Destination City"]: </strong>@Model.ShippingRequest.ToCity</p>
            <p><strong>@Localizer["Destination State"]: </strong>@Model.ShippingRequest.ToState</p>
            <p><strong>@Localizer["Destination Zip"]: </strong>@Model.ShippingRequest.ToZip</p>
            <p><strong>@Localizer["Destination Phone"]: </strong>@Model.ShippingRequest.ToPhone</p>
            @if (User.IsInRole("Admin"))
            {
                <p><strong>@Localizer["Created By"]: </strong>@Model.CreatedBy</p>
            }
        </div>
        <div class="col-md-6">
            <p><a href="@Model.Label.LabelUrl" target="_blank">@Localizer["Download Label (PDF)"]</a></p>
            <p><strong>@Localizer["Tracking Url"]: </strong>@Model.Label.TrackingUrl</p>
            <p><strong>@Localizer["Created At"]: </strong>@(Model.GeneratedAt.HasValue ? Model.GeneratedAt.Value.ToString("yyyy-MM-dd HH:mm:ss") : "N/A")</p>
            <p><strong>@Localizer["Last Updated"]: </strong>@(Model.UpdatedAt.HasValue ? Model.UpdatedAt.Value.ToString("yyyy-MM-dd HH:mm:ss") : "N/A")</p>
        </div>
    </div>
</div>
