@model List<OrderMgmtRevision.Models.UserViewModel>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<!-- Title Centering-->
<h2 class="text-center mb-4 pt-4">User Management</h2>



<div class="ms-5 me-5">
    <div class="d-flex justify-content-start mb-2">
        <button class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#createUserModal">Create</button>
        <button id="btnEdit" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" disabled>Edit</button>
        <button id="btnDelete" class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" disabled>Delete</button>
        <input type="text" id="searchBar" class="form-control-sm me-2" placeholder="Search by Username" onkeyup="filterTable()" />
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-hover align-middle" id="userTable">
            <thead class="table-light">
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll" onclick="toggleAll(this);">
                    </th>
                    <th id="usernameHeader" onclick="sortTable(1)" style="cursor: pointer;">
                        Username <i id="userCaret" class="fa fa-caret-down"></i>
                    </th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr onclick="toggleButtons(this)">
                        <td>
                            <input type="checkbox" class="user-checkbox" value="@user.Id" onclick="toggleButtons();">
                        </td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.FullName</td>
                        <td>@user.Id</td>
                    </tr>


                    <!-- Edit User Modal -->
                    <div class="modal fade" id="editUserModal-@user.Id" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editUserModalLabel-@user.Id">Edit User</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <partial name="_EditUser" model="@user" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Delete User Modal -->
                    <div class="modal fade" id="deleteUserModal-@user.Id" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteUserModalLabel-@user.Id">Delete User</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p id="deleteWarning">Are you sure you want to delete the user <strong>@user.UserName</strong>? This action cannot be undone.</p>
                                    <partial name="_DeleteUser" model="@user" />
                                </div>
                            </div>
                        </div>
                    </div>

                }

                <div class="modal fade" id="createUserModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="createUserModal">Create User</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <partial name="_CreateUser" model="new UserViewModel()" />
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>

<script src="~/js/users.js"></script>