@model IEnumerable<OrderManagementSystem.Models.InboundOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boxes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InboundType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boxes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InboundType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceOrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.Warehouse_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InboundOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InboundOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InboundOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
