@model OrderManagementSystem.Models.FreightOutbound

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FreightOutbound</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedDeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedDeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderShipDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderShipDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientPostCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientPostCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransportDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransportDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedAdjustmentOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatedAdjustmentOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferenceOrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferenceOrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FBAShipmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FBAShipmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FBATrackingNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FBATrackingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutboundMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutboundMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.Warehouse_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OutboundOrderId">Edit</a> |
    <a asp-action="Freight_Outbound_All">Back to List</a>
</div>
