@model IEnumerable<OrderManagementSystem.Models.Billing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillingAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingAccount.BillingAccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charge.ChargeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BillingAccountId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BillingAccountId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BillingAccountId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
